{% extends "base.html" %}

{% block content %}
<main class="container py-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
        <h1 class="text-center display-3">
            <h1><em>{{task.title}}</em></h1>

                {{error}}
                <form method="POST">
                    {{form}}

                    {% csrf_token %}
                <div class="text-center d-flex justify-content-center gap-2">
                    <button class="btn btn-info">
                        update
                    </button>
                </form>
                <form action="{% url 'complete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-success">
                        complete
                    </button>
                </form>
                <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        delete
                    </button>
                </form>
                </div>
        </div>
    </div>
</main>
{% endblock content %}